.base {
  display: flex;
  .TreeWrapper {
    height: 600px;
    width: 50%;
    background: white;
  }
  .DetailsWrapper{
    color: white;
    width: 50%;
    padding: 2em;
    .section{
      margin: 1em;
    }
  }
  th.selectedColumn{
    color: #3E6FED;
  }
}